<h2>Password Reset</h2>

<p>Go to the <%= link_to "login page", login_path%>. Then click on the <i>Forgotten password?</i> link. Type your email in the <i>email</i> input and click on the button <i>Reset Password</i>.</p>

<p>
  <%= image_tag('help_center/password_reset.gif', class: "img-thumbnail") %>
</p>

<p>Then you should receive an email that looks like this:</p>

<p>
  <%= image_tag('help_center/password_reset_email.png', class: "img-thumbnail") %>
</p>

<p>Follow the link <code>/password_resets/XXXX/edit</code> where the <code>X</code> represents a secure random digit. Then you'll be able to change your password.</p>

<p>
  <%= image_tag('help_center/password_reset_update_password.gif', class: "img-thumbnail") %>
</p>
