<h2>Search Invoice</h2>

<p>Go to the <%= link_to "invoices page", invoices_path%>. Type your keyword in the <i>keyword</i> input and click on the button <i>Search</i>. This allows you to search for invoices by <b>details</b>, <b>recipient name</b>, and <b>recipient email</b>.</p>

<p>To reset the search click on the <i>Reset</i> link.</p>

<p>
  <%= image_tag('help_center/search_invoices.gif', class: "img-thumbnail") %>
</p>
